html, body, div, a, b, u, i, center, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, footer, header, nav, div, audio {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline;}
header, nav, footer, article, div, div{display: block;}
#header 		{float: left; 	width: 100%;	text-align: center; margin: auto;}
#outer		 	{float: left; 	width: 100%;	position: relative; 	overflow: hidden;}
#middle 		{float: left; 	width: 100%;   	position: relative; 	right: 30%;}
#inner 			{float: left; 	width: 100%;   	position: relative; 	right: 60%;}
#col1			{float: left; 	width: 6%; 		position: relative; 	left: 90%;}
#col2			{float: left; 	width: 64%; 	position: relative; 	left: 90%; display: table-cell; vertical-align: middle;}
#col3			{float: left; 	width: 30%; 	position: relative; 	left: 90%;}
#sec1			{}
#sec2			{}
#outtext 		{clear: both;}
#footer 		{clear: both; text-align: center;}
span			{display: inline-block;}
table, th, td 	{empty-cells:hide; border: 2px solid black; border-collapse: collapse;}
th				{font-size: 70%;}
th.side 		{text-align: right;}
td				{text-align: center;}
a				{text-decoration: none; font-style: bold; color: black;}
a.email 		{color: blue; text-decoration: underline;}
a:hover 		{text-decoration: none; color: red;}
textarea 		{width: 100%; font-size: 20pt;}
p#display 		{border: 1px solid black;}
table.other 	{font-size: 50%; border: 0px; margin: auto;}
table.sub		{margin-left: auto;}
a.image, img 	{max-height: 35px; max-width: 35px; float: left;}
.block {text-align: center;}
.block:before {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.centered {display: inline-block; vertical-align: middle; width: 100%;}​
